In [1]:
from sqlalchemy.engine import create_engine
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
username = "root"
password = quote_plus("908@Ad534")
db_name = "books"
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'

In [2]:
engine = create_engine(connection)
conn = engine.connect()

![png](Data/Books.png)

In [3]:
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

## AUTHOR DATA

In [4]:
q= '''SELECT * FROM authors'''
pd.read_sql(q, conn)

   author_id        author_name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley

In [5]:
# Load in Raw Data
authors = pd.read_csv('Data/authors - authors.csv')
authors.info()
authors.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [6]:
q = '''DESCRIBE authors;'''
describe = pd.read_sql(q, conn)
describe

         Field         Type Null  Key Default           Extra
0    author_id          int   NO  PRI    None  auto_increment
1  author_name  varchar(45)  YES         None

In [7]:
describe['Field'].values

array(['author_id', 'author_name'], dtype=object)

In [8]:
authors.columns

Index(['id', 'author_name'], dtype='object')

In [9]:
# Rename columns to match SQL table
rename_map = {"id":"author_id"}
authors = authors.rename(rename_map,axis=1)
authors.head()

   author_id        author_name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley

In [10]:
describe[['Field','Type']]

         Field         Type
0    author_id          int
1  author_name  varchar(45)

In [11]:
authors.dtypes

author_id       int64
author_name    object
dtype: object

## DF and SQL columns and datatypes are consistent

In [12]:
authors.to_sql("authors",conn,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'authors.PRIMARY'")
[SQL: INSERT INTO authors (author_id, author_name) VALUES (%(author_id)s, %(author_name)s)]
[parameters: ({'author_id': 1, 'author_name': 'Stephen King'}, {'author_id': 2, 'author_name': 'F.Scott Fitgerald'}, {'author_id': 3, 'author_name': 'Jack London'}, {'author_id': 4, 'author_name': 'Jane Austen'}, {'author_id': 5, 'author_name': 'Mary Shelley'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# confirm the data has been added
q = """SELECT * FROM authors;"""
pd.read_sql(q,conn)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE authors;"""
pd.read_sql(q,conn)

## BOOKS DATA

In [ ]:
q= '''SELECT * FROM books'''
pd.read_sql(q, conn)

In [ ]:
# Load in Raw Data
books = pd.read_csv('Data/books - books.csv')
books.info()
books.head()

In [ ]:
q = '''DESCRIBE books;'''
describe = pd.read_sql(q, conn)
describe

In [ ]:
describe['Field'].values

In [ ]:
books.columns

In [ ]:
# Rename columns to match SQL table
rename_map = {"id":"book_id"}
books = books.rename(rename_map,axis=1)
books.head()

In [ ]:
describe[['Field','Type']]

In [ ]:
books.dtypes

## DF and SQL columns and datatypes are consistent

In [ ]:
books.to_sql("books",conn,index=False, if_exists='append')

In [ ]:
q = """SELECT * FROM books;"""
pd.read_sql(q,conn)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE books;"""
pd.read_sql(q,conn)

## USERS DATA

In [ ]:
q= '''SELECT * FROM users'''
pd.read_sql(q, conn)

In [16]:
# Load in Raw Data
users = pd.read_csv('Data/users.csv')
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [ ]:
q = '''DESCRIBE users;'''
describe = pd.read_sql(q, conn)
describe

In [ ]:
describe['Field'].values

In [ ]:
users.columns

In [ ]:
# Rename columns to match SQL table
rename_map = {"id":"user_id"}
users = users.rename(rename_map,axis=1)
users.head()

In [ ]:
describe[['Field','Type']]

In [ ]:
users.dtypes

## DF and SQL columns and datatypes are consistent

In [ ]:
users.to_sql("users",conn,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM users;"""
pd.read_sql(q,conn)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE users;"""
pd.read_sql(q,conn)

## FAVORITES DATA

In [ ]:
q= '''SELECT * FROM favorites'''
pd.read_sql(q, conn)

In [15]:
# Load in Raw Data
favorites = pd.read_csv('Data/favorites - favorites.csv')
favorites.info()
favorites.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [ ]:
q = '''DESCRIBE favorites;'''
describe = pd.read_sql(q, conn)
describe

In [ ]:
describe['Field'].values

In [ ]:
favorites.columns

In [ ]:
describe[['Field','Type']]

In [ ]:
favorites.dtypes

## DF and SQL columns and datatypes are consistent

In [ ]:
favorites.to_sql("favorites",conn,index=False, if_exists='append')

In [ ]:
q = """SELECT * FROM favorites;"""
pd.read_sql(q,conn)

In [ ]:
q = """DESCRIBE favorites;"""
pd.read_sql(q,conn)

## TESTING THE DATABASE

In [13]:
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [14]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.book_id = favorites.book_id
WHERE favorites.user_id = 1'''
pd.read_sql(q, conn)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

In [24]:
q = '''SELECT books.title, favorites.user_id, users.first_name, users.last_name
FROM books
JOIN users ON books.book_id = users.user_id
JOIN favorites ON users.user_id = favorites.user_id
WHERE users.user_id = 1
;'''
pd.read_sql(q, conn)

         title  user_id first_name last_name
0  The Shining        1       John       Doe
1  The Shining        1       John       Doe
2  The Shining        1       John       Doe